*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1  {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 24px;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}



.container {
    margin: 36px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto;
    gap: 8px;
}


img  {
    display: block;
    width: 100%;
    /* object-fit: contain; */
    object-fit: cover;
}


@media screen and (max-width: 450px) {
    .container  {
        display: flex;
        flex-flow: wrap;
    }

}